body{
    margin: 1rem;
}
button{
    margin: .5rem;
}
#content img{
    max-width: 95vw;
    max-height: 70vh;
}

.head{
    margin: 20px;
    margin-bottom: 50px;
}

.fixedbottom {
    position: fixed;
    bottom: -4px;
    right: 10px;
    text-align: right;
    margin-bottom: 10px;
    /*   margin-right: 10px; */
    margin-left: 20px !important;
    width: 4rem;
}

.fixedbottom img{
    width: 100%;
}